body{
    background-color: rgb(255, 255, 255);
    font-family:cursive;
    background-image: radial-gradient(circle at 56.16% 120.44%, #bd5f42 0, #b65646 8.33%, #ab4c47 16.67%, #9b4146 25%, #883642 33.33%, #722b3c 41.67%, #591f32 50%, #411427 58.33%, #2d0b1d 66.67%, #1f0013 75%, #110007 83.33%, #000000 91.67%, #000000 100%);  
  
  }
  .posts{
    box-shadow: 4px  25px 12px rgba(0, 11, 12, 0.479);
    text-align: start;
    font-size: larger;
    margin-bottom:40px;
    cursor: pointer; 
} 

.card-top-titulo{
    font-size: 23px;
    border: groove 2px  white ;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
}
.card-top-autor{
    font-size: 17px;

}
.card-top-titulo, .card-top-autor{
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    margin-left: 15px;
}

.card-body{
    color: rgb(0, 165, 115);
    
}
.contentPost{
    color: rgb(255, 255, 255);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.post-div{
    margin-top: 60px;
}
.img-post{
    width: 240px;
    height: 140px;
    float: left;
    margin: 5px 15px 15px 10px ;

}
.posts:hover{
    transition-duration:  1s;
    filter: brightness(128%);
    width: 105%;
    animation: bounce 2s;
    }

.btnOpen{
    margin-left: 270px;
    border: 2px solid #fff;
    background-color: hsla(0,0%,100%,0);
    color: #fff;
    width: 200px;
    height: 30px;
    cursor: pointer;
    font-size: 15px;

}

.btnOpen:hover{
    font-size: 17px;
    color: black;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.993);
}

.card-bottom  {
    margin-top: 8px;
    border: groove 2px  white ;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    margin-left: 10px;
    padding-bottom: 10px ;

}
.title{
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-family: 'Space Mono', cursive;
}
.card-bottom-calendar * {
    padding-left: 4px;
    color: rgb(255, 255, 255);
}






@keyframes bounce {
    0%, 20%, 60%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(-20px);
      transform: translateY(-20px);
    }
    80% {
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px);
    }
  }


  @media screen and (max-width: 1000px) {
    .btnOpen{
        margin-left: unset;
    }



}