
.btnOpenByCat{
    margin-left: 450px;
}
.posts-cat{
    box-shadow: 4px  25px 12px rgba(0, 11, 12, 0.479);
    text-align: start;
    font-size: larger;
    cursor: pointer; 
    height: 220px;
}
.posts-cat:hover{
    filter: brightness(128%);
    transition-duration:  2s;
    width: 90%;
}
.content-post-cat{
        text-align: start;
        color: rgb(255, 255, 255);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
}
.title-cat{
    margin-top: 50px;
    margin-bottom: 50px;

}

@media (max-width: 768px) {
    .posts-cat{
     height: 150%;

    }   
}