.user-name{
    text-transform: uppercase;
    margin-left: 40px;
    font-size: 20px;
}

.user-details{
    position: fixed;
    color: white;
    width: 350px;
    margin-left: 800px;
    background-color: rgba(11, 191, 197, 0.329);
}
.user-image{
    background-color: red;
    border-radius: 40px;
    width: 50px;
    flex-direction: column;
}

.user-email{
    word-wrap: break-word;

}
.user-card-footer{
    margin-top: 5px;
    margin-bottom: 8px;
    background-color:rgb(247, 244, 250);
}
.user-rede{
 padding-bottom: 5px;
 font-size: 22px;
 margin-left: 10px;
 color: rgb(7, 92, 18);
}



@media (max-width: 768px) {
   
  
    .user-details{
        margin-left: unset;
        margin-bottom: 100px;
        height: 250px;
        position: unset;

    }
    .post-top-titulo{
        margin-top:350px;
    }

     
}